* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "raleway", sans-serif;
}
body {
  background-color: rgb(250, 249, 249);
}
.bottom-section {
  background-color: #10181d;
  color: white;
}

.container {
  background-color: #848994;
  padding-bottom: 93px;
}
.input img {
  height: 25px;
  position: absolute;
  top: 601px;
  z-index: 5;
  left: 669px;
}
.first-container .image1 {
  width: 455px;
  height: 561px;
  margin-left: 74px;
  margin-top: 63px;
  border-radius: 5px;
}
.second-container .image2 {
  height: 561px;
  width: 1151px;
  margin-left: 129px;
  margin-top: 75px;
}
.fa-play {
  font-size: 2rem;
}
.third-container .image3 {
  height: 534px;
  width: 514px;
  margin-top: 58px;
  margin-left: 90px;
}
.Fourth-container .image4 {
  width: 514px;
  height: 514px;
}
.Fifth-container .image5 {
  height: 518px;
  width: 518px;
  margin-left: 86px;
}
.seventh-container .left-image {
  height: 421px;
  width: 337px;
}
.seventh-container .middle-image {
  height: 421px;
  width: 337px;
}
.seventh-container .right-image {
  height: 421px;
  width: 337px;
}
.navbar {
  display: flex;
  justify-content: space-between;
}
.navbar img {
  margin-top: 42px;
  margin-left: 24px;
  height: 42px;
}
.list-item {
  font-size: 16px;
}
nav ul {
  display: flex;
  column-gap: 40px;
  list-style: none;
  margin-top: 37px;
  color: white;
  margin-left: 324px;
  letter-spacing: 0.3px;
}
.first-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.second-container h1 {
  margin-left: 97px;
  margin-top: 105px;
  font-size: 40px;
  text-align: center;
  line-height: 1.3;
}
.second-container .middle-number {
  display: flex;
  column-gap: 188px;
  margin-left: 233px;
  margin-top: 55px;
  font-size: 35px;
  font-family: "inter";
}
.second-container .last-info {
  display: flex;
  column-gap: 141px;
  margin-left: 215px;
  margin-top: 11px;
}
.third-container h2 {
  margin-left: 501px;
  margin-top: 200px;
  font-size: 51px;
  line-height: 1.1;
}
.third-container-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.Fourth-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 83px;
  margin-left: 129px;
}
.Fifth-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.sixth-container {
  display: flex;
  column-gap: 50px;
  padding-bottom: 56px;
}
.seventh-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 0px;
  margin-left: 129px;
  padding-bottom: 215px;
}
.ninth-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 46px;
}
.ninth-container ul {
  list-style: none;
}
.btn-1 {
  color: white;
  background-color: transparent;
  border: 1px solid #989a9c;
  font-size: 14px;
  font-weight: 600;
  word-spacing: 0.3px;
  margin-right: 20px;
  margin-top: 26px;
  padding: 0px 47px 0px 47px;
  height: 39px;
  cursor: pointer;
}
.first-container .right-section {
  margin-left: -17px;
  margin-top: 95px;
}
.first-container h1 {
  color: white;
  font-size: 66px;
  line-height: 1.1;
}
.first-container h5 {
  margin-top: 38px;
  font-size: 20px;
  font-weight: normal;
  color: rgb(222, 224, 224);
  margin-left: 6px;
  line-height: 1.8;
  font-family: inter;
}
.first-container input {
  margin-left: 6px;
  margin-top: 37px;
  padding: 22px 308px 24px 47px;
  z-index: -5;
  font-size: 16px;
  border: none;
  font-family: "Inter";
}
.first-container .btn-2 {
  z-index: 6;
  color: white;
  background-color: rgb(117, 165, 143);
  border: none;
  font-size: 20px;
  padding: 20px 50px;
  position: absolute;
  top: 581px;
  right: 101px;
  font-weight: 600;
  font-family: "Inter";
  cursor: pointer;
}
.middle-number h2 {
  font-family: "inter";
  font-size: 41px;
}
.last-info h3 {
  font-family: "inter";
  font-weight: 500;
  font-size: 18px;
  color: #434344;
}
.last-info :nth-child(2) {
  margin-left: 20px;
}
.last-info :nth-child(3) {
  margin-left: 10px;
}
.last-info :nth-child(4) {
  margin-left: -10px;
}
.third-container-1 .left-section {
  margin-left: 129px;
  margin-top: 58px;
}
.third-container-1 .left-section h3 {
  margin-top: 97px;
  font-size: 40px;
  text-align: left;
  line-height: 1.3;
  word-break: keep-all;
}
.third-container-1 .left-section h5 {
  margin-top: 17px;
  font-size: 20px;
  font-weight: normal;
  color: #5d5d5e;
  margin-left: 6px;
  line-height: 1.8;
  font-family: inter;
}
.btn-3 {
  margin-left: 7px;
  margin-top: 40px;
  font-weight: 600;
  font-family: "Inter";
  color: white;
  background-color: rgb(117, 165, 143);
  border: none;
  font-size: 19px;
  padding: 17px 50px;
  cursor: pointer;
}
.Fourth-container .right-section {
  margin-left: -35px;
  margin-top: 81px;
}
.Fourth-container .right-section h2 {
  font-size: 40px;
  text-align: left;
  line-height: 1.3;
}
.Fourth-container .right-section h5 {
  margin-top: 17px;
  font-size: 20px;
  font-weight: normal;
  color: #5d5d5e;
  margin-left: 6px;
  line-height: 1.8;
  font-family: inter;
}
.btn-4 {
  margin-top: 40px;
  font-weight: 600;
  font-family: "Inter";
  color: white;
  background-color: rgb(117, 165, 143);
  border: none;
  font-size: 19px;
  padding: 17px 50px;
  cursor: pointer;
}
.Fifth-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 100px;
}
.Fifth-container .left-section h2 {
  margin-top: 97px;
  font-size: 40px;
  text-align: left;
  line-height: 1.3;
  word-break: keep-all;
}
.Fifth-container .left-section h5 {
  margin-top: 17px;
  font-size: 20px;
  font-weight: normal;
  color: #5d5d5e;
  margin-left: 6px;
  line-height: 1.8;
  font-family: inter;
}
.btn-5 {
  margin-top: 40px;
  font-weight: 600;
  font-family: "Inter";
  color: white;
  background-color: rgb(117, 165, 143);
  border: none;
  font-size: 19px;
  padding: 17px 50px;
  cursor: pointer;
}
.Fifth-container .left-section {
  margin-left: 129px;
}
.sixth-container .left-section h2 {
  margin-left: 129px;
  margin-top: 204px;
  font-size: 40px;
  line-height: 1.3;
}
.sixth-container .right-section h5 {
  margin-top: 204px;
  font-size: 20px;
  font-weight: normal;
  color: #5d5d5e;
  line-height: 1.8;
  font-family: "inter";
  margin-left: 258px;
}
.seventh-container h2 {
  margin-top: 16px;
  font-size: 20px;
}
.seventh-container h4 {
  margin-top: 21px;
  font-weight: normal;
  color: #4e4e4e;
  font-size: 16px;
  font-family: "Inter";
  line-height: 1.6;
}
.btn-6 {
  font-weight: 600;
  font-family: "Inter";
  color: white;
  background-color: rgb(117, 165, 143);
  border: none;
  font-size: 19px;
  padding: 17px 50px;
  position: absolute;
  top: 4885px;
  left: 613px;
  cursor: pointer;
}
.eighth-container {
  padding-bottom: 0px;
}
.footer-logo {
  margin-top: 57px;
  margin-left: 129px;
  height: 43px;
}
.ninth-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 0px;
  margin-right: -12px;
  margin-left: 134px;
  margin-top: -262px;
  line-height: 2.6;
  font-size: 14px;
  padding-bottom: 120px;
}
.ninth-container .list-items {
  color: white;
  font-size: 18px;
  font-weight: 600;
}
.ninth-container .list-item {
  color: #afb1b6;
}
#circle-1 {
  width: 50px;
  height: 50px;
  background: #404040;
  border-radius: 50%;
  position: relative;
  top: -50px;
  left: 1094px;
  z-index: 2;
}
#circle-2 {
  width: 50px;
  height: 50px;
  background: #404040;
  border-radius: 50%;
  position: relative;
  top: -100px;
  left: 960px;
  z-index: 2;
}
#circle-3 {
  width: 50px;
  height: 50px;
  background: #404040;
  border-radius: 50%;
  position: relative;
  top: -150px;
  left: 1228px;
  z-index: 2;
}
#circle-4 {
  width: 50px;
  height: 50px;
  background: #404040;
  border-radius: 50%;
  position: relative;
  top: -200px;
  left: 1161px;
  z-index: 2;
}
#circle-5 {
  width: 50px;
  height: 50px;
  background: #404040;
  border-radius: 50%;
  position: relative;
  top: -250px;
  left: 1027px;
  z-index: 2;
}
.line {
  position: relative;
  width: 1148px;
  top: 40px;
  left: 129px;
  border: none;
  height: 1px;
  background: #404040;
}
.btm-img-1 {
  position: relative;
  top: -300px;
  left: 960px;
  z-index: 3;
}
.btm-img-2 {
  position: relative;
  top: -300px;
  left: 657px;
  z-index: 3;
}
.btm-img-3 {
  position: relative;
  top: -300px;
  left: 350px;
  z-index: 3;
}
.btm-img-4 {
  position: relative;
  top: -300px;
  left: 45px;
  z-index: 3;
}
.btm-img-5 {
  position: relative;
  top: -351px;
  left: 1229px;
  z-index: 3;
}
.circle-white {
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 1486px;
  left: 683px;
  z-index: 2;
  cursor: pointer;
}

.circle-A {
  position: absolute;
  top: 1453px;
  left: 648px;
  z-index: 2;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  border: 1px solid white;
  cursor: pointer;
}
.circle-B {
  position: absolute;
  top: 1428px;
  left: 622px;
  z-index: 2;
  border-radius: 50%;
  height: 170px;
  width: 170px;
  border: 0.5px solid white;
  cursor: pointer;
}

.fa-play {
  color: rgb(117, 165, 143);
  position: absolute;
  top: 1494px;
  left: 700px;
  z-index: 3;
  cursor: pointer;
}
.fa-play:hover {
  transition: all 0.3s ease;
  color: red;
}
.btn-1:hover {
  background-color: coral;
}
@media only screen and (max-width: 1189px) {
  nav ul {
    column-gap: 32px;
    margin-left: 231px;
  }
  .btn-1 {
    font-size: 13px;
  }
  .navbar img {
    height: 39px;
  }
  .list-item {
    font-size: 15px;
  }
  .first-container h1 {
    font-size: 60px;
  }
  .first-container h5 {
    font-size: 18px;
  }
  .first-container input {
    font-size: 15px;
    padding: 14px 303px 27px 47px;
  }
  .first-container .btn-2 {
    font-size: 17px;
    top: 546px;
    right: 46px;
  }
  .input img {
    left: 587px;
    top: 560px;
    height: 23px;
  }
  .first-container .image1 {
    width: 401px;
  }
  .second-container h1 {
    margin-left: 86px;
    font-size: 38px;
  }
  .second-container .middle-number {
    column-gap: 162px;
    margin-left: 233px;
  }
  .second-container .last-info {
    column-gap: 119px;
    margin-left: 222px;
    margin-top: 17px;
  }
  .middle-number h2 {
    font-size: 39px;
  }
  .last-info h3 {
    font-size: 17px;
  }
  .second-container .image2 {
    width: 1022px;
  }
  .circle-B {
    left: 562px;
  }
  .circle-A {
    left: 588px;
  }
  .circle-white {
    left: 625px;
  }
  .fa-play {
    left: 641px;
  }
  .third-container h2 {
    font-size: 48px;
    margin-left: 402px;
  }
  .third-container-1 .left-section h3 {
    font-size: 37px;
  }
  .third-container-1 .left-section h5 {
    font-size: 17px;
  }
  .btn-3 {
    font-size: 17px;
  }
  .third-container .image3 {
    width: 492px;
    margin-left: 35px;
  }
  .Fourth-container .right-section h2 {
    font-size: 37px;
  }
  .Fourth-container .right-section h5 {
    font-size: 18px;
  }
  .btn-4 {
    font-size: 17px;
  }
  .Fourth-container .image4 {
    width: 484px;
  }
  .Fourth-container .right-section {
    margin-left: 40px;
    margin-top: 0px;
  }
  .Fifth-container .left-section h2 {
    font-size: 36px;
  }
  .Fifth-container .left-section h5 {
    font-size: 17px;
  }
  .btn-5 {
    font-size: 17px;
  }
  .Fifth-container .image5 {
    height: 518px;
    width: 482px;
  }
  .sixth-container .left-section h2 {
    font-size: 31px;
    margin-left: 117px;
  }
  .sixth-container {
    column-gap: 35px;
  }
  .sixth-container .right-section h5 {
    font-size: 17px;
  }
  .seventh-container .right-image {
    width: 290px;
  }
  .seventh-container .middle-image {
    width: 290px;
  }

  .seventh-container .left-image {
    width: 290px;
  }

  .seventh-container h2 {
    font-size: 17px;
  }
  .seventh-container h4 {
    font-size: 14px;
  }
  .seventh-container {
    margin-left: 104px;
  }
  .btn-6 {
    font-size: 17px;
    top: 4768px;
    left: 499px;
  }
  /* .seventh-container .middle-image {
    margin-left: -40px;
  }
  .seventh-container .right-image {
    margin-left: -40px;
  } */
  .footer-logo {
    height: 36px;
    margin-left: 77px;
  }
  .line {
    width: 903px;
  }
  #circle-2 {
    left: 718px;
  }
  #circle-5 {
    left: 786px;
  }
  #circle-1 {
    left: 855px;
  }
  #circle-4 {
    left: 922px;
  }
  #circle-3 {
    left: 985px;
  }
  .btm-img-1 {
    top: -300px;
    left: 718px;
  }
  .btm-img-2 {
    top: -300px;
    left: 416px;
  }
  .btm-img-3 {
    top: -300px;
    left: 112px;
  }
  .btm-img-4 {
    top: -351px;
    left: 730px;
  }
  .btm-img-5 {
    top: -351px;
    left: 678px;
  }
  .bottom-section {
    padding-top: 30px;
  }
  .ninth-container {
    margin-left: 105px;
  }
  .ninth-container .list-items {
    font-size: 16px;
  }
  .ninth-container .list-item {
    font-size: 14px;
  }
  .ninth-container ul {
    margin-left: -30px;
  }
}

@media only screen and (max-width: 1041px) {
  nav ul {
    column-gap: 28px;
    margin-left: 189px;
  }
  .btn-1 {
    font-size: 12px;
  }
  .navbar img {
    height: 35px;
  }
  .first-container h1 {
    font-size: 52px;
  }
  .list-item {
    font-size: 14px;
  }
  .first-container h5 {
    font-size: 16px;
  }
  .first-container input {
    font-size: 14px;
    padding: 14px 212px 27px 47px;
  }
  .first-container .btn-2 {
    font-size: 15px;
    top: 504px;
    right: 70px;
  }
  .input img {
    left: 515px;
    top: 521px;
    height: 21px;
  }
  .first-container .image1 {
    width: 358px;
  }
  .second-container h1 {
    margin-left: 86px;
    font-size: 36px;
  }
  .second-container .middle-number {
    column-gap: 129px;
    margin-left: 221px;
  }
  .second-container .last-info {
    column-gap: 94px;
    margin-left: 222px;
    margin-top: 27px;
  }
  .middle-number h2 {
    font-size: 37px;
  }
  .last-info h3 {
    font-size: 16px;
  }
  .second-container .image2 {
    width: 904px;
  }
  .circle-B {
    left: 453px;
  }
  .circle-A {
    left: 479px;
  }
  .circle-white {
    left: 514px;
  }
  .fa-play {
    left: 530px;
  }
  .third-container h2 {
    font-size: 45px;
    margin-left: 322px;
  }
  .third-container-1 .left-section h3 {
    font-size: 31px;
  }
  .third-container-1 .left-section h5 {
    font-size: 14px;
  }
  .btn-3 {
    font-size: 15px;
  }
  .third-container .image3 {
    width: 444px;
    margin-left: 16px;
  }
  .Fourth-container .right-section h2 {
    font-size: 33px;
  }
  .Fourth-container .right-section h5 {
    font-size: 14px;
  }
  .btn-4 {
    font-size: 15px;
  }
  .Fourth-container .image4 {
    width: 394px;
  }
  .Fourth-container .right-section {
    margin-left: 63px;
  }
  .Fifth-container .left-section h2 {
    font-size: 27px;
  }
  .Fifth-container .left-section h5 {
    font-size: 13px;
  }
  .btn-5 {
    font-size: 15px;
  }
  .Fifth-container .image5 {
    height: 518px;
    width: 435px;
    margin-left: 24px;
  }
  .Fifth-container .left-section {
    margin-left: 74px;
  }
  .sixth-container .left-section h2 {
    font-size: 27px;
    margin-left: 87px;
  }
  .sixth-container {
    column-gap: 18px;
  }
  .sixth-container .right-section h5 {
    font-size: 15px;
  }
  .seventh-container .right-image {
    width: 250px;
  }
  .seventh-container .middle-image {
    width: 250px;
  }

  .seventh-container .left-image {
    width: 250px;
  }

  .seventh-container h2 {
    font-size: 15px;
  }
  .seventh-container h4 {
    font-size: 12px;
  }
  .seventh-container {
    margin-left: 76px;
  }
  .btn-6 {
    font-size: 15px;
    top: 4748px;
    left: 425px;
  }

  .footer-logo {
    height: 30px;
    margin-left: 49px;
  }
  .line {
    width: 896px;
    left: 49px;
  }
  #circle-2 {
    left: 639px;
  }
  #circle-5 {
    left: 705px;
  }
  #circle-1 {
    left: 769px;
  }
  #circle-4 {
    left: 837px;
  }
  #circle-3 {
    left: 902px;
  }
  .btm-img-1 {
    top: -300px;
    left: 639px;
  }
  .btm-img-2 {
    top: -300px;
    left: 335px;
  }
  .btm-img-3 {
    top: -300px;
    left: 26px;
  }
  .btm-img-4 {
    top: -351px;
    left: 645px;
  }
  .btm-img-5 {
    top: -351px;
    left: 594px;
  }
  .bottom-section {
    padding-top: 50px;
  }
  .ninth-container {
    margin-left: 77px;
  }
  .ninth-container .list-items {
    font-size: 14px;
  }
  .ninth-container .list-item {
    font-size: 12px;
  }
  .ninth-container ul {
    margin-left: -30px;
  }
}
@media only screen and (max-width: 925px) {
  nav ul {
    column-gap: 20px;
    margin-left: 109px;
  }
  .btn-1 {
    font-size: 11px;
  }
  .navbar img {
    height: 31px;
  }
  .first-container h1 {
    font-size: 42px;
  }
  .list-item {
    font-size: 13px;
  }
  .first-container h5 {
    font-size: 12px;
  }
  .first-container input {
    font-size: 13px;
    padding: 14px 160px 26px 47px;
  }
  .first-container .btn-2 {
    font-size: 13px;
    top: 446px;
    right: 70px;
  }
  .input img {
    left: 451px;
    top: 462px;
    height: 19px;
  }
  .first-container .image1 {
    width: 303px;
  }
  .second-container h1 {
    margin-left: 86px;
    font-size: 34px;
  }
  .second-container .middle-number {
    column-gap: 112px;
    margin-left: 210px;
  }
  .second-container .last-info {
    column-gap: 71px;
    margin-left: 209px;
    margin-top: 21px;
  }
  .middle-number h2 {
    font-size: 35px;
  }
  .last-info h3 {
    font-size: 15px;
  }
  .second-container .image2 {
    width: 759px;
  }
  .circle-B {
    left: 427px;
    height: 134px;
    width: 134px;
    top: 1405px;
  }
  .circle-A {
    left: 443px;
    height: 102px;
    width: 102px;
    top: 1423px;
  }
  .circle-white {
    left: 469px;
    top: 1448px;
  }
  .fa-play {
    left: 484px;
    top: 1457px;
  }
  .third-container h2 {
    font-size: 42px;
    margin-left: 336px;
  }
  .third-container-1 .left-section h3 {
    font-size: 27px;
  }
  .third-container-1 .left-section h5 {
    font-size: 12px;
  }
  .btn-3 {
    font-size: 13px;
  }
  .third-container .image3 {
    width: 378px;
    margin-left: 79px;
  }
  .Fourth-container .right-section h2 {
    font-size: 28px;
  }
  .Fourth-container .right-section h5 {
    font-size: 12px;
  }
  .btn-4 {
    font-size: 13px;
  }
  .Fourth-container .image4 {
    width: 376px;
  }
  .Fourth-container .right-section {
    margin-left: 65px;
  }
  .Fifth-container .left-section h2 {
    font-size: 27px;
  }
  .Fifth-container .left-section h5 {
    font-size: 12px;
  }
  .btn-5 {
    font-size: 14px;
  }
  .Fifth-container .image5 {
    height: 518px;
    width: 417px;
    margin-left: 28px;
  }
  .Fifth-container .left-section {
    margin-left: 74px;
  }
  .sixth-container .left-section h2 {
    font-size: 22px;
    margin-left: 82px;
  }
  .sixth-container {
    column-gap: 14px;
  }
  .sixth-container .right-section h5 {
    font-size: 15px;
  }
  .seventh-container .right-image {
    width: 220px;
  }
  .seventh-container .middle-image {
    width: 220px;
  }

  .seventh-container .left-image {
    width: 220px;
  }

  .seventh-container h2 {
    font-size: 13px;
  }
  .seventh-container h4 {
    font-size: 10px;
  }
  .seventh-container {
    margin-left: 64px;
  }
  .btn-6 {
    font-size: 13px;
    top: 4717px;
    left: 371px;
  }
  .footer-logo {
    height: 26px;
    margin-left: 36px;
  }
  .line {
    width: 829px;
    left: 34px;
  }
  #circle-2 {
    left: 554px;
  }
  #circle-5 {
    left: 623px;
  }
  #circle-1 {
    left: 691px;
  }
  #circle-4 {
    left: 759px;
  }
  #circle-3 {
    left: 822px;
  }
  .btm-img-1 {
    top: -300px;
    left: 555px;
  }
  .btm-img-2 {
    top: -300px;
    left: 252px;
  }
  .btm-img-3 {
    top: -350px;
    left: 564px;
  }
  .btm-img-4 {
    top: -352px;
    left: 259px;
  }
  .btm-img-5 {
    top: -404px;
    left: 823px;
  }
  .bottom-section {
    padding-top: 20px;
  }
  .ninth-container {
    margin-left: 64px;
  }
  .ninth-container .list-items {
    font-size: 12px;
  }
  .ninth-container .list-item {
    font-size: 10px;
  }
  .ninth-container ul {
    margin-left: -30px;
  }
  .ninth-container {
    padding-bottom: 126px;
  }
}
@media only screen and (max-width: 786px) {
  nav ul {
    column-gap: 14px;
    margin-left: 5px;
    margin-top: 48px;
  }
  .btn-1 {
    font-size: 11px;
    margin-right: 6px;
    margin-top: 32px;
    padding: 0px 17px 0px 17px;
  }
  .navbar img {
    height: 22px;
    margin-top: 39px;
  }
  .first-container {
    display: flex;
    flex-direction: column-reverse;
  }
  .first-container .right-section {
    margin-left: 9px;
    margin-top: 95px;
  }
  .first-container h1 {
    font-size: 48px;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .list-item {
    font-size: 9px;
  }
  .first-container h5 {
    font-size: 12px;
    text-align: center;
    justify-content: center;
    display: flex;
  }
  .first-container input {
    font-size: 14px;
    padding: 21px 169px 21px 59px;
    position: static;
    margin-left: 6px;
    margin-top: 442px;
    border-radius: 50px 0px 0px 50px;
  }
  .first-container .btn-2 {
    font-size: 16px;
    top: 869px;
    right: 8px;
    border-radius: 0px 50px 50px 0px;
  }
  .input img {
    left: 33px;
    top: 887px;
    height: 19px;
  }
  .container {
    padding-bottom: 73px;
  }
  .first-container .image1 {
    justify-content: center;
    display: flex;
    width: 429px;
    height: 345px;
    margin-left: 28px;
    margin-top: -462px;
    border-radius: 25px;
  }
  .second-container h1 {
    margin-left: 0px;
    font-size: 48px;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .second-container .middle-number {
    column-gap: 162px;
    margin-left: 275px;
    display: flex;
    flex-flow: column;
    row-gap: 27px;
  }
  .second-container .last-info {
    margin-left: 83px;
    margin-top: -231px;
    display: flex;
    flex-direction: column;
    row-gap: 47px;
  }
  .middle-number h2 {
    font-size: 33px;
  }
  .last-info :nth-child(2) {
    margin-left: 0px;
  }
  .last-info :nth-child(3) {
    margin-left: 0px;
  }
  .last-info :nth-child(4) {
    margin-left: 0px;
  }
  .last-info h3 {
    font-size: 17px;
  }
  .second-container .image2 {
    justify-content: center;
    display: flex;
    width: 429px;
    height: 345px;
    margin-left: 28px;
    margin-top: 46px;
    border-radius: 25px;
  }
  .circle-B {
    left: 197px;
    height: 100px;
    width: 100px;
    top: 1738px;
  }
  .circle-A {
    left: 210px;
    height: 75px;
    width: 75px;
    top: 1751px;
  }
  .circle-white {
    left: 223px;
    top: 1766px;
    height: 45px;
    width: 45px;
  }
  .fa-play {
    left: 240px;
    top: 1776px;
    font-size: 25px;
  }
  .fa-2x {
    font-size: 25px;
  }
  .third-container h2 {
    margin-left: 0px;
    font-size: 48px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 105px;
  }
  .third-container-1 {
    display: grid;
    grid-template-columns: 1fr;
  }
  .third-container-1 .left-section {
    margin-left: 0px;
    margin-top: -40px;
  }
  .third-container-1 .left-section h3 {
    font-size: 33px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .third-container-1 .left-section h5 {
    font-size: 15px;
    text-align: center;
    justify-content: center;
    display: flex;
    margin-top: 17px;
    margin-left: 0px;
  }
  .btn-3 {
    font-size: 17px;
    margin-left: 150px;
    margin-top: 423px;
    border-radius: 5px;
  }
  .third-container .image3 {
    justify-content: center;
    display: flex;
    width: 429px;
    height: 345px;
    margin-left: 28px;
    margin-top: -442px;
    border-radius: 25px;
  }
  .Fourth-container {
    display: flex;
    flex-direction: column-reverse;
  }
  .Fourth-container .right-section h2 {
    font-size: 33px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .Fourth-container .right-section h5 {
    font-size: 15px;
    text-align: center;
    justify-content: center;
    display: flex;
    margin-top: 20px;
    margin-left: 0px;
  }
  .btn-4 {
    font-size: 17px;
    margin-left: 164px;
    border-radius: 5px;
    margin-top: 423px;
  }
  .Fourth-container .image4 {
    justify-content: center;
    display: flex;
    width: 429px;
    height: 345px;
    margin-left: -102px;
    margin-top: -442px;
    border-radius: 25px;
  }
  .Fourth-container .right-section {
    margin-left: -143px;
    margin-top: -15px;
  }
  .Fifth-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .Fifth-container .left-section h2 {
    font-size: 33px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .Fifth-container .left-section h5 {
    font-size: 15px;
    text-align: center;
    justify-content: center;
    display: flex;
    margin-top: 20px;
    margin-left: 0px;
  }
  .btn-5 {
    font-size: 17px;
    margin-left: 150px;
    margin-top: 423px;
    border-radius: 5px;
  }
  .Fifth-container .image5 {
    justify-content: center;
    display: flex;
    width: 429px;
    height: 345px;
    margin-left: 28px;
    margin-top: -442px;
    border-radius: 25px;
  }
  .Fifth-container .left-section {
    margin-left: 0px;
    margin-top: -132px;
  }
  .sixth-container {
    display: grid;
    margin-top: -137px;
  }
  .sixth-container .left-section h2 {
    margin-left: 0px;
    font-size: 33px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .sixth-container {
    column-gap: 35px;
  }
  .sixth-container .right-section h5 {
    font-size: 15px;
    text-align: center;
    justify-content: center;
    display: flex;
    margin-top: 20px;
    margin-left: 0px;
  }
  .seventh-container .right-image {
    justify-content: center;
    display: flex;
    width: 429px;
    height: 345px;
    margin-left: -76px;
    margin-top: 62px;
    border-radius: 25px;
  }
  .seventh-container .middle-image {
    justify-content: center;
    display: flex;
    width: 429px;
    height: 345px;
    margin-left: -76px;
    margin-top: 62px;
    border-radius: 25px;
  }

  .seventh-container .left-image {
    justify-content: center;
    display: flex;
    width: 429px;
    height: 345px;
    margin-left: -76px;
    margin-top: -21px;
    border-radius: 25px;
  }

  .seventh-container h2 {
    font-size: 21px;
    margin-top: 7px;
  }
  .seventh-container h4 {
    font-size: 13px;
    margin-top: 3px;
  }
  .seventh-container {
    margin-left: 104px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .seventh-container .middle-column h2 {
    margin-left: 51px;
  }
  .seventh-container .left-column h2 {
    margin-left: 51px;
  }
  .btn-6 {
    font-size: 17px;
    top: 6118px;
    left: 151px;
    border-radius: 5px;
  }
  .footer-logo {
    height: 38px;
    margin-left: 171px;
  }
  .line {
    width: 339px;
    left: 70px;
    top: 113px;
    height: 2px;
  }
  #circle-2 {
    left: 78px;
    top: -10px;
  }
  #circle-5 {
    left: 351px;
    top: -160px;
  }
  #circle-1 {
    left: 213px;
    top: 40px;
  }
  #circle-4 {
    left: 283px;
    top: -110px;
  }
  #circle-3 {
    left: 145px;
    top: -60px;
  }
  .btm-img-1 {
    top: -210px;
    left: 78px;
  }
  .btm-img-2 {
    top: -263px;
    left: 81px;
  }
  .btm-img-3 {
    top: -314px;
    left: 86px;
  }
  .btm-img-4 {
    top: -367px;
    left: 91px;
  }
  .btm-img-5 {
    top: -418px;
    left: 351px;
  }
  .bottom-section {
    padding-top: 20px;
  }
  .ninth-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
    margin-left: 206px;
    margin-top: -311px;
    line-height: 2;
  }
  .ninth-container .list-items {
    font-size: 18px;
  }
  .ninth-container .list-item {
    font-size: 14px;
  }
  .ninth-container ul {
    margin-left: -30px;
  }
}
@media only screen and (min-width: 505px) and (max-width: 1292px) {
  .sixth-container .right-section h5 {
    margin-top: 141px;
  }
  .sixth-container .left-section h2 {
    margin-top: 115px;
  }
}
@media only screen and (min-width: 1190px) and (max-width: 1290px) {
  .btn-6 {
    display: none;
  }
}
@media only screen and (min-width: 1042px) and (max-width: 1111px) {
  .btn-6 {
    display: none;
  }
}
@media only screen and (min-width: 926px) and (max-width: 1000px) {
  .btn-6 {
    display: none;
  }
}
@media only screen and (min-width: 787px) and (max-width: 915px) {
  .btn-6 {
    display: none;
  }
}
@media only screen and (min-width: 505px) and (max-width: 782px) {
  .eighth-container .right-section {
    display: none;
  }
  .eighth-container hr {
    display: none;
  }
  .ninth-container {
    margin-top: 200px;
  }
  .sixth-container .left-section h2 {
    margin-top: 166px;
  }
}
