/* Color */
/* #636C79 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #333;
  overflow-x: hidden;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.primary-heading {
  font-size: 5.2rem;
  font-weight: 700;
  color: #fff;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}
.secondary-heading {
  font-size: 4.4rem;
  margin-bottom: 3.2rem;
  line-height: 1.2;
}
.tertiary-heading {
  font-size: 3.2rem;
  line-height: 1.2;
}
.inner-feature-description,
.hero-description,
.component-description,
.team-head-description,
.inner-team-card-description {
  font-size: 1.4rem;
  color: #333;
  line-height: 1.5;
  margin-bottom: 3.2rem;
}
.btn:link,
.btn:visited {
  font-size: 1.6rem;
  color: #fff;
  background-color: #3f7058;
  padding: 0.8rem 3.2rem;
  text-decoration: none;
}

.grid {
  display: grid;
  gap: 9.6rem;
}
.grid-cols--2 {
  grid-template-columns: 1fr 1fr;
}

.grid-cols--3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-cols--5 {
  grid-template-columns: repeat(5, 1fr);
}
.gap {
  gap: 4.8rem;
}
