/* Color */
/* #636C79 */

/* Nav section */
.header-section {
  display: flex;
  background-color: #636c79;
  padding: 0 4.8rem;
  margin: 0 auto;
  height: 9.6rem;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.logo {
  width: 10rem;
}

.main-list {
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-list li {
  list-style: none;
}
.main-link:link,
.main-link:visited {
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: 500;
  color: #dcdcdc;
  transition: all 0.4s;
}

.main-link:hover,
.main-link:active {
  color: #fff;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}
.icon-mobile-nav {
  width: 4.8rem;
  height: 4.8rem;
  color: #dcdcdc;
}
.icon-mobile-nav[name="close-outline"] {
  display: none;
}
.nav-cta:link,
.nav-cta:visited {
  margin-left: 4.8rem;
  padding: 0.8rem 3.2rem;
  border: 0.1rem solid #dcdcdc;
  border-radius: 5px;
}

/* Hero section */
.hero-section {
  background-color: #636c79;
  padding: 4.8rem 0 9.6rem 0;
}
.hero-description {
  color: #dcdcdc;
}
.hero {
  padding: 0 4.8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 9.6rem;
}

/* .hero-image {
  height: 40rem;
} */
.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.talk {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}
.mail-icon {
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  z-index: 0;
}
.inputbox {
  font-size: 1.6rem;
  padding: 0.8rem 0;
  flex-grow: 1;
  border: none;
  outline: none;
}
.inputbox:focus {
  border: none;
  outline: none;
}

/* feature section */
.feature-section {
  padding: 4.8rem 0 9.6rem 0;
}

.feature-title {
  text-align: center;
  padding: 0 25rem;
}

.featured {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 5.6rem;
}

.inner-feature {
  text-align: center;
}

.inner-feature-description {
  color: #333;
  margin-top: 1.2rem;
}

.featured-image {
  margin-top: 4.8rem;
}
.featured-img {
  width: 100%;
}

/* service section */

.service-section {
  padding: 4.8rem 0 9.6rem 0;
}

.service-head {
  text-align: center;
  padding: 0 25rem 4.8rem 25rem;
}

.componant {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
  margin-top: 4.8rem;
}
.component-image {
  height: 40rem;
}
.component-img {
  width: 80%;
  height: 40rem;
  object-fit: cover;
}

/* team */
.team-section {
  padding: 4.8rem 0 9.6rem 0;
}
.teams-img {
  width: 100%;
}
.inner-team-card-title {
  display: block;
  font-size: 1.8rem;
  margin: 2rem 0 2rem 0;
  font-weight: 700;
}
.team {
  margin-top: 4.8rem;
}

.explore {
  margin-top: 4.8rem;
  text-align: center;
}
/* #212529 */

/* footer  */
.footer {
  padding: 4.8rem 0 9.6rem 0;
  background-color: #212529;
}
.upper-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #333;
  padding-bottom: 3.2rem;
}
.social {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}
.social li {
  list-style: none;
}
.social-link {
  color: #fff;
  width: 1.5rem;
  height: 1.5rem;
  padding: 2rem;
  background-color: #333;
  border-radius: 50%;
}
.lower-footer {
  padding-top: 3.2rem;
}
.link-heading {
  color: #fff;
  font-size: 1.8rem;
  margin-bottom: 1.6rem;
}
.nav-links li {
  list-style: none;
  margin-bottom: 1.6rem;
}

.nav-link:link,
.nav-link:visited {
  font-size: 1.4rem;
  text-decoration: none;
  color: #dcdcdc;
}

.nav-link:hover,
.nav-link:active {
  color: #fff;
}
